<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">

    <% if(data.displayButton) { %>
        <form action="/oauthconn" method="post">
            <button type="submit" id="submit">Accounts</button>
        </form> 
    <% } %>
        <form action="/cancel" method="post">
            <button type="submit" id="cancel">Cancel</button>
        </form> 
    <% if(data.displayContext) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>Account Name</th>
                </tr>
            </thead>
            <tbody>
                <% data.accounts.forEach(account => { %>
                    <tr>
                        <td><%= account.id %></td>
                        <td><%= account.name %></td>
                    </tr>
                <% }); %>
            </tbody>
    <% } %>
    
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<style>
  .navbar-nav .nav-item .nav-link.active {
    background-color: #007bff;
    color: #fff;
  }
</style>
</body>
</html>